		#gameName{
			font-family: "Courier New", Georgia, sans-serif;
			font-size: 40pt;
			text-align: center;
			color: rgb(255, 102, 0);
		}
		#instruct{
			text-align: center;
			font-size: 15pt;
			font-family: "Courier New", Georgia, sans-serif;
			color: black;
		}
		.canvas_container{
			text-align: center;
		}
		canvas{
			border: solid;
			border-color:rgb(216, 215, 214);

		}